Django>=5.0,<6.0
djangorestframework
pytest-django
django-cors-headers
markdown
django-filter
psycopg2-binary
requests
pydantic
pre-commit
ruff
djangorestframework-simplejwt
django-polymorphic
django-model-utils
drf-spectacular
django-verify-email
django-enumfield
django-seed
holidays
Pillow
