Django>=5.0,<6.0
djangorestframework
django-cors-headers
markdown
django-filter
psycopg2-binary
pydevd-pycharm
requests
pydantic
pre-commit
ruff
djangorestframework-simplejwt
django-polymorphic
django-model-utils
django-verify-email
drf-spectacular
django-enumfield
django-seed
holidays
Pillow
