djangorestframework
django-cors-headers
markdown
django-filter
psycopg2-binary
pydevd-pycharm~=243.26053.29
requests
pydantic
pylint
pre-commit
ruff
djangorestframework-simplejwt
django-polymorphic
django-model-utils
pillow
django-verify-email
drf-spectacular
django-enumfield
holidays
